.btn{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px;
    outline: none;
    transition: color .3s ease;

    &:hover {
        color: darken($color: #fff, $amount: 15);
    }
}

.btn-primary{
    background: $primary;
    border-radius: 2px;

    &:disabled {
        background: lighten($color: $primary, $amount: 15);
        cursor: default;
    }

    &:hover {
        background: darken($color: $primary, $amount: 15);
    }
}

.btn-danger{
    background: #f00;
    transition: background .3s;

    &:hover{
        background: darken($color: red, $amount: 10);
    }
}

.btn-block {
    width: 100%;
}

.google-btn {
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 42px;
    // justify-content: space-between;
    margin-top: 5px;
    padding-left: 25px;
    width: 100%;
    transition: box-shadow .3s ease, background .3s ease;

    .btn-text {
        color: #222;
        // flex-grow: 1;
        font-size: 14px;
        letter-spacing: 0.2px;
        margin-left: 35px;
    }
    &:hover {
        box-shadow: 0 0 5px $dark-grey;
    }
    &:active {
        background: $btn-active-blue;
    }
}